.container {
    background-image: url('../../../assets/starwars-image2.jpg');
    border-bottom: 2px solid rgb(250, 250, 45);

    h1 {
        font-size: 86px;
        font-weight: 700;
        text-align: center;
        pointer-events: none;
        
        a {
            color: rgb(250, 250, 45);
            text-decoration: none;
        }
    }

    .list {
        list-style: none;

        display: flex;
        justify-content: center;
        gap: 24px;


        li {
            a {
                color: rgb(250, 250, 45);
                padding: 2px 4px;
                font-size: 46px;
                font-weight: 700;
                text-decoration: none;
            }

            a:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(250, 250, 45);
                border-radius: 12px;
                transition: 1s;
            }
        }
    }
}