<div class="container">
    <div class="navbar">
        <h1>Star Wars World</h1>

        <div class="options">
            <button (click)="loadInfo('character')">Character</button>
            <button (click)="loadInfo('planets')">Planets</button>
            <button (click)="loadInfo('spaceships')">Spaceships</button>
            <button (click)="loadInfo('vehicles')">Vehicles</button>
            <button (click)="loadInfo('films')">Films</button>
        </div>
    </div>
    <div class="content">
        <div *ngIf="informacoesCarregadas">

            <ng-container *ngIf="!isLoading">
                <!-- Conteúdo a ser exibido após o carregamento das informações -->
                <div *ngFor="let item of characters">
                    {{item}}
                </div>
                <div *ngFor="let item of planets">
                    {{item}}
                </div>
                <div *ngFor="let item of spaceships">
                    {{item}}
                </div>
                <div *ngFor="let item of vehicles">
                    {{item}}
                </div>
                <div *ngFor="let item of films">
                    {{item}}
                </div>
                
            </ng-container>
            <div *ngIf="isLoading" class="loader">
                <!-- HTML/CSS do loader -->
            </div> 
        </div>
        
    </div>
</div>