.container {
    border: 2px solid black;

    .head {
        border: 2px solid red;        
        color: yellow;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        h1 {
            margin: 12px;
        }

        p {
            margin: 12px;
        }
    }
    
    .main {
        border: 2px solid green;
        height: 500px;
        color: yellow;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .text {
            border: 2px solid rgb(0, 51, 128);

            flex: 1;

            p {
                margin: 24px;
            }
        }

        .card {
            border: 2px solid rgb(0, 109, 128);

            flex: 2;
            align-self: flex-start;

        }
    }
}