<div class="container">
    <div class="star-wars">
        <p class="crawl">
            Este é um site desenvolvido por mim, utilizando a API SWAPI, com o objetivo de estudar e explorar o universo de Star Wars. 
            Foi um projeto totalmente concebido e implementado por minha conta, buscando reunir informações abrangentes sobre Star Wars, 
            incluindo personagens, veículos, naves e muito mais. O site é fruto de uma ideia ambiciosa que, embora ainda esteja em desenvolvimento, 
            tem como objetivo finalizar e expandir ainda mais suas funcionalidades.
        </p>
      </div>
</div>
