.container {
    background-image: url('../../../assets/starwars-image.jpg');
    
    .star-wars {
        width: 100%;
        height: 72vh;
        overflow: hidden;
        perspective: 200px;
      
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.8) 100%);
          pointer-events: none;
          animation: perspective-animation 20s linear infinite;
        }
      
        .crawl {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          font-size: 6.5rem;
          font-weight: bold;
          color: yellow;
          transform-origin: 50% 100%;
          animation: crawl-animation 20s linear infinite;
        }
      }
      
      @keyframes perspective-animation {
        0% {
          transform: translateZ(-800px);
        }
        100% {
          transform: translateZ(-4000px);
        }
      }
      
      @keyframes crawl-animation {
        0% {
          top: 100%;
          transform: rotateX(20deg) translateZ(0);
        }
        100% {
          top: -300%;
          transform: rotateX(18deg) translateZ(-800px);
        }
      }
}