<div class="container">
    <div class="head">
        <h1>Star Wars Cards</h1>
        <p>Cards about the characters of star wars, is now available!</p>
    </div>
    <div class="main">
        <div class="text">
            <p>
                Star Wars cards work in a fascinating way. 
            </p> 
            <p>
                They contain a variety of information about the characters from the Star Wars universe, such as height, weight, homeworld, and much more. 
            </p>
            <p>
                And there's an additional "see more" option that reveals extra information, such as vehicles, starships, and the movies in which the character appeared. 
                These cards provide an exciting way to explore and deepen knowledge about the heroes and villains of this incredible universe.
            </p>
        </div>
        <div class="card">
            a carta
        </div>
    </div>
</div>
