<div class="container">
    <div class="star-wars">
        <p class="crawl">
            This is a website developed by me, using the SWAPI API, 
            with the aim of studying and exploring the Star Wars universe. 
            It was a project entirely conceived and implemented by me, aiming to gather comprehensive information about Star Wars, 
            including characters, vehicles, spaceships, and much more. The website is the result of an ambitious idea that, although 
            still under development, aims to finalize and further expand its functionalities.
        </p>
      </div>
</div>
