<div class="container">
    <div class="head">
        <h1>Star Wars Cards</h1>
        <p>Cards about the characters of star wars, is now available!</p>
    </div>
    <div class="main">
        <div class="text">
            <p>
                Star Wars cards work in a fascinating way. 
            </p> 
            <p>
                They contain a variety of information about the characters from the Star Wars universe, such as height, weight, homeworld, and much more. 
            </p>
            <p>
                And there's an additional "see more" option that reveals extra information, such as vehicles, starships, and the movies in which the character appeared. 
                These cards provide an exciting way to explore and deepen knowledge about the heroes and villains of this incredible universe.
            </p>
        </div>
        <div class="card-explain">
            <div class="card">
                <div class="principal">
                    <img [src]="luke">
                </div>
                <div class="info">
                    <div>Name: {{card.name}}</div>
                    <div>Height: {{card.height}}</div>
                    <div>Mass: {{card.mass}}</div>
                    <div>Gender: {{card.gender}}</div>
                    <div>Birth Year: {{card.birth_year}}</div>
                </div>
            </div>
            <div class="explain">
                <p>Hover over to find out if it's a villain or a hero, the color of the border indicates.</p>
                <p>The basic information is on the front of the card.</p>
                <p>And the additional information is on the back.</p>
            </div>
        </div>
    </div>
</div>
